@model string

<form>
    <div class="container row border ml-1 whitebackground" style="width:100%">
            <br />
            <img src="@Model" style="max-width: 100%; height: auto;" />
    </div>
</form>
