@model Spice.Models.ViewModels.IndexViewModel
<br/>

@if (Model.coupons.Any())
{
    <div class="border">
        <div id="carouselExample" class="carousel slide" data-ride="carousel" data-interval="500">
            <div class="carousel-inner">
                @foreach (var coupon in Model.coupons)
                {
                    <div class="carousel-item @(Model.coupons.First() == coupon ? "active" : "")">
                        <img src="data:image/png;base64,@Convert.ToBase64String(coupon.Picture)" alt="Coupon Image" class="d-block" style="height: auto; width: 300px;" />
                    </div>
                }
            </div>
        </div>
    </div>
}

<br>
<br>
<div class="whitebackgroundBorder container">

    <ul id="menufilters" class="menu-filter-list list-inline text-center">
        <li class="filter active btn btn-secondary ml-1 mr-1 " data-filter=".menu-restaurant">Show All</li>

        @foreach(var items in Model.categories)
        {
            <li class="filter ml-1 mr-1 " data-filter=".@items.Name.Replace(" ",string.Empty)">@items.Name</li>
        }
    </ul>

    @foreach(var category in Model.categories)
    {
        <div class="row" id="menu-wrapper">
            <partial name="_HomePagePartialView" model="@Model.MenuItems.Where(s=>s.Category.Name.Equals(category.Name))">
        </div>
    }
</div> 

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

@section Scripts
    {
    <script>
        var posts = $('.post');

        (function ($) {
            $("#menufilters li").click(function () {
                $("#menufilters li").removeClass("active btn btn-secondary");
                $(this).addClass("active btn btn-secondary");
                var selectedfilter = $(this).data("filter");
                $(".menu-restaurant").fadeOut();

                setTimeout(function () {
                    $(selectedfilter).slideDown();
                }, 300);
            });
        })(jQuery);
    </script>
}

